<ActionBar class="action-bar">
  <NavigationButton [nsRouterLink]="['../../home']" android.systemIcon="ic_menu_back"></NavigationButton>
    <Label class="action-bar-title" [text]="container.name"></Label>
</ActionBar>
<GridLayout class="page page-content">
    <ListView [items]="listItems" class="list-group">
        <ng-template let-container="item">
            <StackLayout class="list-group-item" [nsRouterLink]="['../container', container.id]">
                <Label [text]="container.name" class="list-group-item-heading"></Label>
                <Label [text]="container.owner.name" class="list-group-item-text" textWrap="true"></Label>
            </StackLayout>
          </ng-template>
    </ListView>

    <StackLayout>
        <FAB (tap)="fabTap()" icon="res://add" class="fab-button"></FAB>
    </StackLayout>
    
</GridLayout>
