<StackLayout margin="24" horizontalAlignment="center" verticalAlignment="center">
    <StackLayout>
        <Label [text]="prompt1"></Label>
        <ListPicker [items]="listContainers | async" selectedIndex=0 (selectedIndexChange)=selectedIndexChanged($event) (tap)="onTap($event)" class="p-15"></ListPicker>
        <Button text="I want to scan the container" (tap)="selectContainer($event)"></Button>
        <Label [text]="prompt2"></Label>
        <TextField #nameItem hint="Name of the object"></TextField>
        <StackLayout orientation="horizontal" marginTop="12">
            <Button text="ok" (tap)="close(nameItem.text)"></Button>
            <Button text="cancel" (tap)="close()"></Button>
        </StackLayout>

    </StackLayout>
</StackLayout>
