<TabView androidTabsPosition="bottom">

    <page-router-outlet
        *tabItem="{title: 'Stocks', iconSource: getIconSource('home')}"
        name="homeTab"
        style="background-color: black">
    </page-router-outlet>

    <page-router-outlet
        *tabItem="{title: 'Members', iconSource: getIconSource('browse')}"
        name="browseTab">
    </page-router-outlet>

    <page-router-outlet
        *tabItem="{title: 'Move', iconSource: getIconSource('search')}"
        name="searchTab">
    </page-router-outlet>

    <page-router-outlet
        *tabItem="{title: 'Scan', iconSource: getIconSource('scan')}"
        name="scanTab">
    </page-router-outlet>

</TabView>
