<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Item"></Label>
</ActionBar>

<StackLayout class="page page-content">
    <Label class="h1" text="Aim for a QR/Barcode"></Label>
    <MLKitBarcodeScanner
        width=100%
        height=100%
        formats="QR_CODE, EAN_8, EAN_13"
        ios:processEveryNthFrame="10"
        android:processEveryNthFrame="5"
        preferFrontCamera="false"
        [torchOn]="torchOn"
        [pause]="pause"
        (scanResult)="onScan($event)">
    </MLKitBarcodeScanner>
</StackLayout>