<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Members"></Label>
</ActionBar>

<GridLayout class="page page-content">
    <ListView [items]="members" class="list-group">
        <ng-template let-member="item">
            <Label [nsRouterLink]="['../member', member.id]" [text]="member.name" class="list-group-item"></Label>
        </ng-template>
    </ListView>
<!--
    <StackLayout>
        <FAB (tap)="fabTap()" icon="res://ic_add_white" rippleColor="#f1f1f1" class="fab-button"></FAB>
    </StackLayout>
-->
</GridLayout>