<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Members"></Label>
</ActionBar>

<GridLayout class="page page-content">
    <ListView [items]="members" class="list-group">
        <ng-template let-member="item">
            <Label [nsRouterLink]="['../member', member.id]" [text]="member.name" class="list-group-item"></Label>
            <!-- <Label [text]="member.email" class="list-group-item-text" textWrap="true"></Label>-->
        </ng-template>
    </ListView>

    <StackLayout>
        <FAB (tap)="fabTap()" icon="res://add" class="fab-button"></FAB>
    </StackLayout>

</GridLayout>