<ActionBar class="action-bar" title="title">
    <!--<ActionItem icon="res://info" (tap)="startTour()"></ActionItem>-->
    <ActionItem icon="res://trash" (tap)="toggleDelete()"></ActionItem>
    <ActionItem icon="res://logout" (tap)="logout()"></ActionItem>
    <Label class="action-bar-title" text="{{user.currentSpace.name}}"></Label>
</ActionBar>


<GridLayout class="page page-content" rows="50, *">
    <TextField row="0" hint="Search an item" (returnPress)="onSearchItem($event)"></TextField>
    <ListView row="1" [items]="containers" row="1" class="list-group" #feat1>
        <ng-template let-container="item">
            <GridLayout columns="*, 50">
                <StackLayout col="0" class="list-group-item" [nsRouterLink]="['../container', container.id]">
                    <Label [text]="container.name" class="list-group-item-heading"></Label>
                    <Label [text]="container.owner.name" class="list-group-item-text" textWrap="true"></Label>
                </StackLayout>
                <StackLayout *ngIf="deleteMode" col="1" verticalAlignment="middle" (tap)=onDelete(container)>
                    <Image src="res://delete"></Image>
                </StackLayout>
            </GridLayout>
        </ng-template>
    </ListView>

    <StackLayout *ngIf="!deleteMode" row="1">
        <FAB (tap)="fabTap()" icon="res://add" class="fab-button" #feat2></FAB>
    </StackLayout>
    
</GridLayout>

