<ActionBar class="action-bar" title="title">
    <ActionItem icon="res://info" (tap)="startTour()"></ActionItem>
    <Label class="action-bar-title" text="List"></Label>
</ActionBar>


<GridLayout class="page page-content">
    <ListView [items]="containers" row="1" class="list-group" #feat1>
        <ng-template let-container="item">
            <StackLayout class="list-group-item" [nsRouterLink]="['../container', container.id]">
                <Label [text]="container.name" class="list-group-item-heading"></Label>
                <Label [text]="container.owner.name" class="list-group-item-text" textWrap="true"></Label>
            </StackLayout>
        </ng-template>
    </ListView>

    <StackLayout row="1">
        <FAB (tap)="fabTap()" icon="res://add" class="fab-button" #feat2></FAB>
    </StackLayout>
    
</GridLayout>

